.App {
    text-align: center;
    padding: {
        top: 2%;
        left: 7%;
        right: 7%;
    }    
  }
  
.section
{
    padding: {
        top: 3%;
        left: 2%;
        right: 2%;
    }
}